body{
	font-family: arial;
	color:#888;
	margin:0px;
}

h1{
	font-size:120%;
	color: #fff;
}

ul{
	vertical-align: top;
	list-style-type: none;
	padding:0px;
}

a{
	color: #333;
}

.container, .container_2, .container_3{
	margin: 0px;
	padding: 15px;
}

.container{
	background: rgba(255,169,94,1);
	background: -moz-linear-gradient(top, rgba(255,169,94,1) 0%, rgba(150,15,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,169,94,1)), color-stop(100%, rgba(150,15,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,169,94,1) 0%, rgba(150,15,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,169,94,1) 0%, rgba(150,15,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,169,94,1) 0%, rgba(150,15,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,169,94,1) 0%, rgba(150,15,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa95e', endColorstr='#960f00', GradientType=0 );
}

.container_2{
	background: rgba(150,15,0,1);
	background: -moz-linear-gradient(top, rgba(150,15,0,1) 0%, rgba(74,74,74,1) 66%, rgba(74,74,74,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,15,0,1)), color-stop(66%, rgba(74,74,74,1)), color-stop(100%, rgba(74,74,74,1)));
	background: -webkit-linear-gradient(top, rgba(150,15,0,1) 0%, rgba(74,74,74,1) 66%, rgba(74,74,74,1) 100%);
	background: -o-linear-gradient(top, rgba(150,15,0,1) 0%, rgba(74,74,74,1) 66%, rgba(74,74,74,1) 100%);
	background: -ms-linear-gradient(top, rgba(150,15,0,1) 0%, rgba(74,74,74,1) 66%, rgba(74,74,74,1) 100%);
	background: linear-gradient(to bottom, rgba(150,15,0,1) 0%, rgba(74,74,74,1) 66%, rgba(74,74,74,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#960f00', endColorstr='#4a4a4a', GradientType=0 );
}

.container_3{
	background: rgba(74,74,74,1);
	background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(39,93,230,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(39,93,230,1)));
	background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(39,93,230,1) 100%);
	background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(39,93,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(39,93,230,1) 100%);
	background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(39,93,230,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#275de6', GradientType=0 );
}


.caja, .caja_2, .caja_3{
	padding: 15px;
	color: #333;
	font-size:90%;
	border-radius: 5px;
}

.caja{
	display:block;
	border: 1px solid rgb(255,169,94);
	background: rgba(255,255,255,0.5);
	
}

.caja_2, .caja_3{
	display: inline-block;
	border: 1px solid #333;
	background: rgba(255,255,255,0.8);
}

.caja img{
	border-radius: 70%;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
}

.caja ul li b {color: rgb(150,15,0); width: 200px; float:left;}

.tecnologia{
	width:200px;
	height:30px;
	float:left;
	color:#333;
	padding:3px;
	margin:10px;
}

.footer{
	margin: 0px;
	padding: 15px;
	background: #000;
	color: #fff;
	border-top:2px solid #fff;
	display:block;
	height: 100px;
}

.footer_react{
	color: #00d8ff;
	float:left;
	padding-left: 10px;
}

.footer_react a{
	text-decoration: none;
	color:#fff;
}

.footer_angular{
	color: #fff;
	float:left;
	padding-left: 10px;
}

.footer_angular a{
	text-decoration: none;
	color:#fff;
}

.footer img{
	width:50px;
	height:45px;
	vertical-align: middle;
}

.experiencia{
	border-bottom: 1px dotted #666;
}
.experiencia h2{
	font-size:100%;
}

.experiencia h3{
	font-size:90%;
}