<div class="footer">
	<h1>Creado en:</h1>
	<div class="footer_react">
		<a href="http://www.jaracu.com/curriculum/ReactJS/public/index.html" title="Curriculum en ReactJS"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png" title="React" /> React</a>
	</div>
	<div class="footer_angular">
		<a href="http://www.jaracu.com/curriculum/AngularJS/dist/index.html" title="Curriculum en Angular 4"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2000px-Angular_full_color_logo.svg.png" title="Angular 4" /> Angular</a>
	</div>
</div>
