<div id="container">
	<app-datos-personales></app-datos-personales>
	<app-tecnologias></app-tecnologias>
</div>
<div class="footer">
	<h1>Creado en:</h1>
	<div class="footer_react">
		<img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a7/React-icon.svg/1280px-React-icon.svg.png" title="React" /> React
	</div>
	<div class="footer_angular">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2000px-Angular_full_color_logo.svg.png" title="Angular 4" /> Angular
	</div>
	
</div>
