<div class="container">
	<h1>Datos personales:</h1>
	<div class="caja">
		<img src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png" />
		<ul>
			<li><b>Nombre:</b><br/>&nbsp;&nbsp;{{nombre}}</li>
			<li><b>Sexo:</b><br/>&nbsp;&nbsp;{{sexo}}</li>
			<li><b>Fecha de nacimiento:</b><br/>&nbsp;&nbsp;{{fnacimiento}}<br/><br/></li>					
			<li><b>Email:</b><br/>&nbsp;&nbsp;{{email}}</li>
			<li><b>Población:</b><br/>&nbsp;&nbsp;{{poblacion}}</li>
			<li><b>Provincia:</b><br/>&nbsp;&nbsp;{{provincia}}</li>
			<li><b>Teléfono:</b><br/>&nbsp;&nbsp;{{telefono}}</li>
		</ul>
	</div>
</div>